* {
    transition: all 50ms ease-in-out 0;
}

.feature-car .star,
.car-list,
.car-overlay-banner {
    display: none;
}

.contact-box:hover p {
    text-decoration: underline;
}

.contact-box a {
    color: #999999;
}


.form-group .select-styled {
    background: #f6f6f6 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.contact-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.contact-details h5 {
    text-align: start;
}

.car-item:hover .car-image .img-fluid {
    scale: 1.05;
    transition: all .5ms ease-in-out;
}

.car-details .details-nav ul,
.car-details .details-nav li {
    width: 100% !important;
}

.details-nav ul li a {
    border-color: #0E9448;
    background: #0E9448;
    color: #ffffff;
}

.details-nav ul li a:hover {
    scale: 1.05;
}


/* About us icon hover */
.feature-box:hover i svg path {
    fill: white;
    transition: all .10s;
}

/* ===== Contact Form ====== */
/* radil btn */
#Contact .form-check-input {
    margin-top: 11px;
}

#Contact .form-group label {
    font-size: 16px;
    text-transform: unset;
}

#Contact .price-slide-2 .price input {
    margin-top: 0;
}

/* TnC */
.tnc a {
    color: unset;
    text-decoration: underline;
}

.tnc a:hover {
    color: #0E9448;
    text-decoration: underline !important;
}


/* Home: Guidelines */
.sourceBio h6 {
    text-transform: inherit;
    margin-top: 0px !important;
}

.sourceBio .feature-box h6:before {
    display: none;
}

.sourceBio .feature-box {
    height: 100%;
}

.sourceBio .feature-box-3 {
    display: flex;
    align-items: flex-start;
    width: 80%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:997px) {
    .sourceBio .feature-box-3 {
        width: 90%;

    }
}

/* Benefits with Finance ul li*/
.benefits ul li,
.financeComparission ul li {
    list-style: none;
}

.BenefitsCard h5 {
    color: #0E9448;
    margin-bottom: 20px;
}

.BenefitsCard {
    padding: 40px;
    background-color: rgb(248, 250, 248);
    border-radius: 10px;
    height: 100%;
    border: 1px solid transparent;
    transition: all 100ms ease-in-out;
}

.BenefitsCard:hover {
    border-color: #e6e6e6;
    transition: all 100ms ease-in-out;
    background-color: white;
}

.benefits ul li p,
.financeComparission ul li p {
    display: block;
}

.benefits li :first-child,
.financeComparission li :first-child {
    margin-bottom: 0;
    color: #151615;
}

/* Finance */
.financeComparission h2 {
    text-transform: unset;
}

.financeComparission h2 span {
    margin-top: 20px;
    font-size: 26px;
}

.planCard {
    padding: 30px;
    border-top: 1px solid lightgrey;
}

.planCard h6 {
    text-transform: unset;
}

.financeComparission li :last-child {
    margin-bottom: 0;
    color: #151615;
}

.financePlans {
    border: 1px solid lightgrey;
    /* margin-top: 20px; */
    height: 95%;
    transition: all 500ms ease-out;
    border-radius: 10px;
}

/* .financePlans:hover, */
.financeComparission .activePlan {
    background-color: #015f2a;
    border: 1px solid transparent;
    color: #e6e6e6;
    scale: 1.01;
    transition: all 500ms ease-in-out;
    border-radius: 12px;
}

/* .financePlans:hover h6,
.financePlans:hover li p,
.financePlans:hover li p strong {
    color: #f6f6f6;
    transition: all 500ms ease-in-out;
} */

.financeComparission .activePlan h6,
.financeComparission .activePlan li p,
.financeComparission .activePlan li p strong {
    color: #f6f6f6;
    transition: all 500ms ease-in-out;
}

.financeComparission .section-title {
    margin-bottom: 30px;
}

/* USP */
.USP .main-title {
    text-transform: unset;
}

.USP .vectorImg {
    width: 100%;
}

.USP .vectorImg svg {
    max-height: 90vh;
}

.USP h6 {
    text-transform: unset;
}