* {
    transition: all 50ms ease-in-out 0;
}

.feature-car .star,
.car-list,
.car-overlay-banner,
.car-item .star,
.car-item .separator {
    display: none;
}

.contact-box:hover p {
    text-decoration: underline;
}

.contact-box a {
    color: #999999;
}


.form-group .select-styled {
    background: #f6f6f6 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.contact-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.contact-details h5 {
    text-align: start;
}

.car-item:hover .car-image .img-fluid {
    scale: 1.05;
    transition: all .5ms ease-in-out;
}

/* .car-details .details-nav ul,
.car-details .details-nav li {
    width: 100% !important;
} */

.details-nav {
    margin: 0px;
}

.details-nav ul li a {
    border-color: #0E9448;
    background: #0E9448;
    color: #ffffff;
}

.details-nav ul li a:hover {
    scale: 1.01;
}


/* About us icon hover */
.welcome-block {
    padding-bottom: 50px;
}

/* ===== Contact Form ====== */
/* radil btn */
#Contact .form-check-input {
    margin-top: 11px;
}

#Contact .form-group label {
    font-size: 16px;
    text-transform: unset;
}

#Contact .price-slide-2 .price input {
    margin-top: 0;
}

/* TnC */
.tnc a {
    color: unset;
    text-decoration: underline;
}

.tnc a:hover {
    color: #0E9448;
    text-decoration: underline !important;
}


/* Home: Guidelines */
.sourceBio h6 {
    text-transform: inherit;
    margin-top: 0px !important;
}

.sourceBio .feature-box h6:before {
    display: none;
}

.sourceBio .feature-box {
    height: 100%;
}

.sourceBio .feature-box-3 {
    display: flex;
    align-items: flex-start;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:997px) {
    .sourceBio .feature-box-3 {
        width: 100%;

    }

    .inner-intro {
        height: 130px;
    }
}

/* Have questions sec */
.welcome-block .halp-call {
    margin-top: 50px;
}

@media screen and (min-width:1201px) {
    .welcome-block .halp-call {
        margin-bottom: 50px;
    }
}

@media screen and (max-width:1200px) {
    .welcome-block .halp-call {
        margin-top: -10px;
        margin-bottom: 10px;
    }
}

/* Benefits with Finance ul li*/
.benefits ul li,
.financeComparission ul li {
    list-style: none;
}

.BenefitsCard h5 {
    color: #0E9448;
    margin-bottom: 20px;
}

.BenefitsCard {
    padding: 40px;
    background-color: rgb(248, 250, 248);
    border-radius: 10px;
    height: 100%;
    border: 1px solid transparent;
    transition: all 100ms ease-in-out;
}

.BenefitsCard:hover {
    border-color: #e6e6e6;
    transition: all 100ms ease-in-out;
    background-color: white;
}

.benefits ul li p,
.financeComparission ul li p {
    display: block;
}

.benefits li :first-child,
.financeComparission li :first-child {
    margin-bottom: 0;
    color: #151615;
}

/* Finance */
.financeComparission h2 {
    text-transform: unset;
}

.financeComparission h2 span {
    margin-top: 20px;
    font-size: 26px;
}

.planCard {
    padding: 30px;
    border-top: 1px solid lightgrey;
}

.planCard h6 {
    text-transform: unset;
}

.financeComparission li :last-child {
    margin-bottom: 0;
    color: #151615;
}

.financePlans {
    border: 1px solid lightgrey;
    /* margin-top: 20px; */
    height: 95%;
    transition: all 500ms ease-out;
    border-radius: 10px;
}

/* .financePlans:hover, */
.financeComparission .activePlan {
    background-color: #015f2a;
    border: 1px solid transparent;
    color: #e6e6e6;
    scale: 1.01;
    transition: all 500ms ease-in-out;
    border-radius: 12px;
}

/* .financePlans:hover h6,
.financePlans:hover li p,
.financePlans:hover li p strong {
    color: #f6f6f6;
    transition: all 500ms ease-in-out;
} */

.financeComparission .activePlan h6,
.financeComparission .activePlan li p,
.financeComparission .activePlan li p strong {
    color: #f6f6f6;
    transition: all 500ms ease-in-out;
}

.financeComparission .section-title {
    margin-bottom: 30px;
}

/* USP */
.USP .main-title {
    text-transform: unset;
}

.USP h6 {
    text-transform: unset;
}

.uspCard {
    text-align: center;
    padding: 30px 25px 20px 25px;
    /*  border: 1px solid rgb(227, 225, 225);
    border-radius: 10px; */
    height: 100%;
    transition: all .2s ease-in-out;
}

.uspCard:hover img {
    filter: brightness(.5);
    scale: 1.05;
    transition: all .2s ease-in-out;
}

.uspCard p {
    margin-bottom: unset;
}

.uspCard img {
    margin-bottom: 10px;
}

/* Core value */
.feature-box img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sourceBio .feature-box:hover i {
    background-color: unset;
    scale: 1.05;
}

.sourceBio .feature-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sourceBio .feature-box i {
    display: none !important;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sourceBio .feature-box i img {
    scale: .75;
}

.sourceBio .feature-box-3 {
    padding: 30px 25px 20px 25px;
    border: 1px solid #d9f3e5;
    border-radius: 10px;
    height: 100%;
    transition: all .2s ease-in-out;
    background-color: #f7fffb;
}

.sourceBio .feature-box-3:hover {
    padding: 25px 25px 25px 25px;
    transition: all .2s ease-in-out;
    border-color: transparent;
}

/* Feature cars */
.feature-car .buttOn {
    width: 100%;
    background-color: transparent;
    padding: 15px 0;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: whitesmoke;
    transition: all .2s ease-in;
}

.feature-car .buttOn:hover {
    background-color: #015f2a;
    border-color: transparent;
    transition: all .2s ease-in;
}

.feature-car .buttOn:hover p {
    scale: 1.05;
    transition: all .2s ease-in;
}

.buttOn p {
    margin: unset;
}

/* Footer */
.footer .contact img {
    max-width: 80vw;
    min-height: 50px;
}

/* Brands */
.brandIco {
    max-width: 100px;
    max-height: 150px;
    margin-top: 30px;
    padding: 5px;
}

.brandIco img {
    width: 100%;
}

/* checkbox */
.details-nav .modal-dialog .form-check.form-check-inline .form-check-input:checked,
.form-check-input:checked {
    /* margin-top: 10px; */
}

.form-check-input {
    margin-top: 10px;
}

.modal-body .gray-form .select-styled {
    line-height: 39px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}

/* Nav-Active on scroll */
.menu-list-items .active {
    color: #2dbccb !important;
    text-decoration: underline;
}

/* ======== Car Detail CSS ======== */
/* Con_tex & Con_img */
.con_tex h1 {
    text-transform: capitalize;
}

.con_tex h2 strong {
    color: green;
    display: flex;
    align-items: start;
}

.con_tex h2 strong span {
    font-weight: 500;
}

.con_tex h2 span {
    font-size: 20px;
    margin-top: 5px;
}

.product-con_fe .con_tex_item {
    border: 1px solid lightgray;
}

.product-con_fe .con_tex_item p {
    margin: unset;
}

.con_high {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
}

.con_tex_item {
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    /* border: 1px solid lightgray; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.con_tex_item img {
    max-width: 80px;
}

@media screen and (max-width:636px) {
    .con_tex_item_wrap {
        width: 100%;
    }
}

@media screen and (min-width:635px) {
    .con_tex_item_wrap {
        width: 50%;
    }
}

.con_img {
    max-height: 500px;
    border-radius: 10px;
    margin: 25px 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.con_img img {
    width: 100%;
}

.carInformation,
.galary-tab {
    color: rgba(36, 39, 44, .7);
}

.galary-tab {
    background-color: white;
    transition: all .5s ease-in-out;
}

.gallery-wrapper {
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 1px 2px rgba(36, 39, 44, .1);
    padding: 20px;
}

.gallery-wrapper ul {
    border-bottom: 1px solid lightgray;

}

.gallery-wrapper ul li {
    list-style: none;
    padding-bottom: 10px;
}

.gallery-wrapper ul li a {
    color: unset;
    padding: 10px 0 18px 0;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
}

.gallery-wrapper .active {
    position: relative;
}

.gallery-wrapper .active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px 4px 0 0;
    background-color: green;
    bottom: 0px;
    left: 0;
    right: 0;
}

/* .g-image {
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    border-radius: 7px;
}

.g-image img {
    width: 100%;
} */

.img-fs {
    max-height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.img-fit {
    width: 100%;
}

.img-tb {
    margin-top: 10px;
    display: flex;
    gap: 5px;
    /* overflow-x: scroll; */

}

.img-fit-fw {
    width: 80px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
    transition: all .2s ease-in-out;
}

.img-tb .img-fit-fw:hover :not(.img-tb .active) {
    scale: 1.03;
    opacity: 1;
    transition: all .2s ease-in-out;
}

.img-tb .active {
    scale: 1.03;
    opacity: 1;
}

.img-fit-fw img {
    height: 60px;
    opacity: .8;
}

.list-style-1 .c-condition-color i,
.c-condition-color {
    color: orange;
}

/* Tyre new css */
@media screen and (min-width:1200px) {
    .tyre-condition-wrap {
        width: 25%;
        rotate: 270deg;
        margin-right: 30px;
        margin-top: -140px;
        margin-bottom: -90px;
    }

    .tyre-fl-content,
    .tyre-fr-content,
    .tyre-rl-content,
    .tyre-rr-content,
    .tyre-sp-content {
        rotate: 90deg;
        text-align: center !important;
    }
}

@media screen and (min-width: 766px) and (max-width: 1199px) {
    .tyre-condition-wrap {
        width: 30%;
        margin-right: 30px;
        margin-top: -110px;
        margin-bottom: -80px;
        rotate: 270deg;
    }

    .tyre-fl-content,
    .tyre-fr-content,
    .tyre-rl-content,
    .tyre-rr-content,
    .tyre-sp-content {
        rotate: 90deg;
        text-align: center !important;
    }
}

@media screen and (max-width:766px) {
    .tyre-condition-wrap {
        margin-top: 30px;
        width: 40%;
    }
}

@media screen and (max-width:766px) {
    .tyre-condition-wrap {
        margin-top: 10px;
        margin-bottom: 110px;
    }
}

@media screen and (max-width:576px) {
    .tyre-condition-wrap {
        width: 40%;
    }
}

.tyre-condition-wrap,
.content-indicator {
    position: relative;
    z-index: 0;
}

.tyre-fl,
.tyre-fr,
.tyre-rl,
.tyre-rr,
.tyre-sp {
    position: absolute;
    z-index: 1;
}

.tyre-fl,
.tyre-fr,
.tyre-rl,
.tyre-rr {
    width: 11.5%;
}

.tyre-fl,
.tyre-fr {
    top: 16%;
}

.tyre-fl,
.tyre-rl {
    left: 0%;
}

.tyre-fr,
.tyre-rr {
    right: 0%;
}

.tyre-rl,
.tyre-rr {
    bottom: 16%;
}

.tyre-sp {
    width: 30%;
    bottom: 3%;
    left: 35%;
}

.tyre-fl-content,
.tyre-fr-content {
    top: 0;
}

.tyre-rl-content,
.tyre-rr-content {
    bottom: 0;
}

.tyre-fl-content,
.tyre-fr-content,
.tyre-rl-content,
.tyre-rr-content,
.tyre-sp-content {
    height: 100%;
    display: flex;
    align-items: center;
}

.tyre-fl-content,
.tyre-rl-content {
    right: 150%;
}

.tyre-fr-content,
.tyre-rr-content {
    left: 150%;
}

.tyre-sp-content {

    width: 100%;
    bottom: -140%;
    justify-content: center;
}

.content-indicator p {
    margin-bottom: 7px;
}

.content-indicator .tyre-value {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.tc-good {
    color: #015f2a;
}

.tc-medium {
    color: orange;
}

.tc-poor {
    color: orangered;
}


/* Tyre old */
.denoting-side {
    padding: 15px;
    background-color: rgb(244, 244, 240);
    height: 100%;
    border-radius: 10px;
    text-align: center;
}

.denoting-side p {
    margin-bottom: 7px;
}

.denoting-side strong {
    margin-right: 15px;
}

.denoting-side .tyre-value {
    font-size: 30px;
    color: #015f2a;
    font-weight: 600;
    margin-bottom: 15px;
}



/* Car listing */

/* car filter */
.listing-sidebar .form-check-input {
    margin-top: .25rem;
}


/* car listing card */
.feature-car-home .item .car-item {
    border-color: #151615;
}

.car-item {
    border-radius: 6px;
    background-color: white;
    border: 1px solid lightgray;
    transition: all .1s ease-in;
}

.car-item:hover .car-image {
    scale: 1.01;
    transition: all .250ms ease-in;
}

.car-item:hover .model-n-variation a {
    color: #015f2a;
    transition: all .1s ease-in;
}

.car-item .car-image {
    /* height: 120px; */
    display: flex;
    align-items: start;
    justify-content: center;
}

.car-item .car-image img {
    width: 100%;
}

.model-n-variation {
    display: flex;
}

.model-n-variation a {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.model-n-variation a span {
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.car-item .car-content a {
    font-size: 16px;
    color: #363636;
    font-weight: 600;
    margin-bottom: 2px;
}

.info-min-wrap::-webkit-scrollbar {
    display: none;
}

.info-min-wrap {
    display: flex;
    gap: 3px;
    overflow: scroll;
}

.info-min {
    padding: 1px 8px;
    background-color: #f6f6f6;
    border-radius: 3px;
    margin-bottom: 5px;
    white-space: nowrap;
}

.info-min-wrap p {
    font-size: 12px;
}

@media screen and (max-width:767px) {
    .info-min-wrap p {
        font-size: 14px;
    }

    .shortOpt {
        margin-bottom: 20px;
    }
}

.car-item .price span {
    font-size: 15px;
    font-weight: 600;
}

.car-item {
    position: relative;
}

.con_img .badge-area {
    max-width: 100px;
    top: 10px;
}

.badge-area {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 20%;
    height: 12px;
    z-index: 10;
}

.car-item .price .old-price {
    display: none;
}

.car-item .car-content {
    padding: 10px 15px;
}

.sorting-options,
.sorting-options .selected-box {
    padding: 0;
}

.sorting-options .change-view-button {
    margin: unset;
}

.sorting-options-main {
    padding: 0px;
    border-color: transparent;
}

.sorting-options .shortOpt h6 span {
    font-weight: 400;
}

.listing-sidebar {
    position: sticky;
    top: 100px;
}

.filter-btn {
    width: 100%;
    text-align: center;
    background-color: #015f2a;
    padding: 15px 0;
}

.filter-btn p {
    color: white;
}

@media screen and (min-width:768px) {
    .filter-btn {
        display: none;
    }
}

.list-group .list-group-item ul:nth-child(2) {
    margin-top: 10px;
}